@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Onest:wght@400;600&display=swap');

:root {
  --color-border: #074175;
  --color-primary: #074175;
  --color-secondary: #00ce7d;
  --color-background: #d3dde6;
  --color-background_menu: #d3dde6;
  --color-text: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-[--color-background] text-[--color-text];
}

@layer components {
  /* Кнопка (основная) */
  .btn-primary {
    @apply bg-[--color-primary] text-white border border-[--color-border] rounded-2xl px-5 py-2 font-sans hover:bg-[--color-secondary] transition;
  }
  input[type="checkbox"].bg-check {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='20 6 9 17 4 12' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
  }
}

@layer utilities {
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
}